.dub/
.project
.settings/
./aedi
dub.selections.json
.dlangidews
.dlangidews.wssettings
__dummy.html
docs.json
docs/
libaedi.a
aedi.iml
out/
.idea/
__test__library__
*.lst
aedi-test-library
extending_generic_factory