<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Alias failable</title>
		<link rel="stylesheet" type="text/css" href="../../../../styles/ddox.css"/>
		<link rel="stylesheet" href="../../../../prettify/prettify.css" type="text/css"/>
		<script type="text/javascript" src="../../../../scripts/jquery.js">/**/</script>
		<script type="text/javascript" src="../../../../scripts/ddox.js">/**/</script>
	</head>
	<body onload="setupDdox();">
		<nav id="main-nav">
						<ul class="tree-view">
							<li class="tree-view">
								<a href="#" class="package">aermicioi</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">aedi</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">configurer</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">annotation</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/configurer/annotation.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/annotation/annotation.html" class=" module">annotation</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/annotation/component_scan.html" class=" module">component_scan</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">register</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/configurer/register.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/register/container.html" class=" module">container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/register/contextual_register.html" class=" module">contextual_register</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/register/environment.html" class=" module">environment</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/register/factory_configurer.html" class=" module">factory_configurer</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/register/generic_factory_metadata_decorator.html" class=" module">generic_factory_metadata_decorator</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer/register/register.html" class=" module">register</a>
							</li>
						</ul>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/configurer.html" class=" module">Package members</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">container</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/container.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/application_container.html" class=" module">application_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/container.html" class=" module">container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/factory.html" class=" module">factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/interface_container.html" class=" module">interface_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/prototype_container.html" class=" module">prototype_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/proxy_container.html" class=" module">proxy_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/singleton_container.html" class=" module">singleton_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/subscribable_container.html" class=" module">subscribable_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/container/switchable_container.html" class=" module">switchable_container</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">exception</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/exception.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/exception/circular_reference_exception.html" class=" module">circular_reference_exception</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/exception/di_exception.html" class=" module">di_exception</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/exception/instance_factory_exception.html" class=" module">instance_factory_exception</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/exception/invalid_cast_exception.html" class=" module">invalid_cast_exception</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/exception/in_progress_exception.html" class=" module">in_progress_exception</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/exception/not_found_exception.html" class=" module">not_found_exception</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/exception/property_configurer_exception.html" class=" module">property_configurer_exception</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">factory</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/factory.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/factory/decorating_factory.html" class=" module">decorating_factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/factory/factory.html" class=" module">factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/factory/generic_factory.html" class=" module">generic_factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/factory/proxy_factory.html" class=" module">proxy_factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/factory/reference.html" class=" module">reference</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">storage</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/storage.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/aggregate_locator.html" class=" module">aggregate_locator</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/alias_aware.html" class=" module">alias_aware</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/container.html" class=" module">container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/decorator.html" class=" module">decorator</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/locator.html" class=" module">locator</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/locator_aware.html" class=" module">locator_aware</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/object_storage.html" class=" module">object_storage</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/parent_aware.html" class=" module">parent_aware</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/storage.html" class=" module">storage</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/storage/wrapper.html" class=" module">wrapper</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">test</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">configurer</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/test/configurer/annotation.html" class=" module">annotation</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/configurer/configurer.html" class=" module">configurer</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">container</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/test/container/application_container.html" class=" module">application_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/container/factory.html" class=" module">factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/container/inheritance_container.html" class=" module">inheritance_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/container/prototype_container.html" class=" module">prototype_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/container/singleton_container.html" class=" module">singleton_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/container/subscribable_container.html" class=" module">subscribable_container</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/container/switchable_container.html" class=" module">switchable_container</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">exception</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/test/exception/exception.html" class=" module">exception</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">factory</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/test/factory/decorating_factory.html" class=" module">decorating_factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/factory/factory.html" class=" module">factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/factory/generic_factory.html" class=" module">generic_factory</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/factory/reference.html" class=" module">reference</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">storage</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aedi/test/storage/aggregate_locator.html" class=" module">aggregate_locator</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/storage/locator.html" class=" module">locator</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/storage/object_storage.html" class=" module">object_storage</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/storage/storage.html" class=" module">storage</a>
							</li>
						</ul>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/example.html" class=" module">example</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/fixture.html" class=" module">fixture</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi/test/fixture_second.html" class=" module">fixture_second</a>
							</li>
						</ul>
							</li>
							<li>
								<a href="../../../../aermicioi/aedi.html" class=" module">Package members</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">aermicioi</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">aedi</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">test</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/aermicioi/aedi/test/environment.html" class=" module">environment</a>
							</li>
							<li>
								<a href="../../../../aermicioi/aermicioi/aedi/test/factory_configurer.html" class=" module">factory_configurer</a>
							</li>
						</ul>
							</li>
						</ul>
							</li>
						</ul>
							</li>
							<li class="tree-view">
								<a href="#" class="package">util</a>
						<ul class="tree-view">
							<li class="tree-view">
								<a href="#" class="package">traits</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../aermicioi/util/traits.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../aermicioi/util/traits/enforce.html" class=" module">enforce</a>
							</li>
							<li>
								<a href="../../../../aermicioi/util/traits/partial.html" class="selected module">partial</a>
							</li>
							<li>
								<a href="../../../../aermicioi/util/traits/traits.html" class=" module">traits</a>
							</li>
						</ul>
							</li>
						</ul>
							</li>
						</ul>
							</li>
						</ul>
				<noscript>
					<p style="color: red">The search functionality needs JavaScript enabled</p>
				</noscript>
				<div id="symbolSearchPane" style="display: none">
					<p>
						<input id="symbolSearch" type="text" placeholder="Search for symbols" onchange="performSymbolSearch(24);" onkeypress="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();"/>
					</p>
	<ul id="symbolSearchResults" style="display: none"></ul>
	<script type="application/javascript" src="../../../../symbols.js"></script>
	<script type="application/javascript">
var symbolSearchRootDir = "../../../../";
$('#symbolSearchPane').show();
	</script>
				</div>
		</nav>
		<div id="main-contents">
			<h1>Alias failable</h1>
			<section>
				<p>Execute pred, if it does not have any compiler errors.
</p>
<section></section>

					<section>
						<h3>Declaration</h3>
						<div class="prototype">
							<code class="lang-d">
<span class="kwd">alias</span> <span class="pln">failable</span><span class="pun">(</span><span class="kwd">alias </span><span class="pln">pred</span><span class="pun">, </span><span class="kwd">alias </span><span class="pln">response</span><span class="pun">)</span> <span class="pun">=</span> <a href="../../../../aermicioi/util/traits/partial/if_.html"><span class="pln">if_</span></a>!(partialPrefixed!(compiles,pred),pred,response)<span class="pun">;</span>
							</code>
						</div>
					</section>
<section><h3>Parameters</h3>
<table><col class="caption"><tr><th>Name</th><th>Description</th></tr>
<tr><td id="pred">pred</td><td> template that will be executed if it does not contain errors.</td></tr>
<tr><td id="response">response</td><td> a response if pred will fail.</td></tr>
</table>
</section>
<section><h3>Return</h3>
<p>Result of pred if it does not contain errors or response otherwise
</p>
</section>

			</section>
			<section>
				<h2>Authors</h2>
<p>aermicioi
</p>

			</section>
			<section>
				<h2>Copyright</h2>

			</section>
			<section>
				<h2>License</h2>
<p>Boost Software License - Version 1.0 - August 17th, 2003
</p>

<p>	Permission is hereby granted, free of charge, to any person or organization
	obtaining a copy of the software and accompanying documentation covered by
	this license (the "Software") to use, reproduce, display, distribute,
	execute, and transmit the Software, and to prepare derivative works of the
	Software, and to permit third-parties to whom the Software is furnished to
	do so, all subject to the following:
</p>

<p>	The copyright notices in the Software and this entire statement, including
	the above license grant, this restriction and the following disclaimer,
	must be included in all copies of the Software, in whole or in part, and
	all derivative works of the Software, unless such copies or derivative
	works are solely in the form of machine-executable object code generated by
	a source language processor.
</p>

<p>	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT
	SHALL THE COPYRIGHT HOLDERS OR ANYONE DISTRIBUTING THE SOFTWARE BE LIABLE
	FOR ANY DAMAGES OR OTHER LIABILITY, WHETHER IN CONTRACT, TORT OR OTHERWISE,
	ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
	DEALINGS IN THE SOFTWARE.
</p>

			</section>
		</div>
	</body>
</html>